{% extends "base.html" %}

{% block content %}
		<div id="body">
			<div class="header">
				<div>
					<h1>Blog</h1>
					<div class="article">
						<ul>
							<li>
								<img src="{{ url_for('static', filename='images/astronaut.jpg') }}" alt="">
								<h1>ASTRONAUTS IN SPACE RIGHT NOW</h1>
									{% for astro in astro_names%}
									<p>
										<a href="/astronauts/{{astro}}">{{astro}}</a>
									</p>
									
									{% endfor %}
								
							</li>
						</ul>
					</div>
					<div class="sidebar">
						<ul>
							<li>
								<h1>FEATURED POSTS</h1>
								<a href="singlepost"><img src=" {{ url_for('static', filename='images/moon-satellite.jpg') }}" alt=""></a>
								<h2>SOYUZ TMA-M</h2>
								<span>FEBRUARY 6, 2023</span>
							</li>
							<li>
								<h1>RECENT POSTS</h1>
								<ul>
									<li>
										<a href="singlepost"><img src=" {{ url_for('static', filename='images/alien-life.jpg') }}" alt=""></a>
										<h2>ALIEN LIFE</h2>
										<span>FEBRUARY 3, 2023</span>
									</li>
									<li>
										<a href="singlepost"><img src="{{ url_for('static', filename='images/galaxy.jpg ') }}" alt=""></a>
										<h2>THE GALAXY</h2>
										<span>FEBRUARY 1, 2023</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}