<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile.css') }}">


    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="page">
      {% include 'partials/_header.html'%}
      {% block content %} {% endblock %}
      {% include 'partials/_footer.html'%}
    </div>

    
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mobile.js') }}" type="text/javascript"></script>
    
  </body>
</html>